.custom-shadow {
    width: 91.28%;
    position: absolute;
    margin: 0 !important;
    height: 92.96%;
    top: 13.54%;
    right: 2.46%;
    bottom: -6.49%;
    left: 6.26%;
    filter: blur(42px);
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    opacity: 0.6;
    z-index: 0;
}

.custom-frame-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 274px;
    height: 274px;
}

.custom-he-black-crowes {
    position: relative;
    letter-spacing: -0.03em;
}

.custom-front-icon {
    position: absolute;
    top: calc(50% - 7.29px);
    left: calc(50% - 6.99px);
    width: 14px;
    height: 14.6px;
    object-fit: cover;
}

.custom-front-icon-1 {
    position: absolute;
    top: -25%;
    left: -15%;
    width: 23px;
    height: 23px;
    object-fit: cover;
}

.custom-number {
    position: absolute;
    top: calc(50% - 3.68px);
    left: calc(50% - 7.74px);
    letter-spacing: -0.04em;
    line-height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15.6px;
    height: 8.1px;
    text-shadow: 0.1px 0 0 #dfdfdf, 0 0.1px 0 #dfdfdf, -0.1px 0 0 #dfdfdf, 0 -0.1px 0 #dfdfdf;
}

.custom-badge {
    width: 15.5px;
    position: relative;
    height: 15.5px;
}

.custom-fanstanding {
    position: relative;
    font-size: 14.52px;
    font-weight: 500;
    font-family: 'SF Pro Rounded';
    color: #b0b0b0;
    text-align: left;
}

.custom-badge-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3.9px;
    font-size: 9.64px;
    font-family: 'Baloo 2';
}

.custom-he-black-crowes-parent {
    position: absolute;
    top: 210.1px;
    left: calc(50% - 93.5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 7.7px;
}

.custom-group-parent {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 27.11px;
    overflow: hidden;
    background-image: url('Frame 20533.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
}

.custom-shadow-parent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.custom-maroon-7 {
    width: 274px;
    border-radius: 30.98px;
    height: 274px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.custom-my-morning-jacket {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.03em;
}

.custom-my-morning-jacket-parent {
    position: absolute;
    top: 200px;
    left: calc(50% - 101px);
    width: 202px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 7.7px;
}

.custom-cracker-parent {
    position: absolute;
    top: 210.1px;
    left: 77.45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 7.7px;
}

.custom-bloodkin-parent {
    position: absolute;
    top: 210.1px;
    left: calc(50% - 59.68px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 7.7px;
}

.custom-frame-child1 {
    position: absolute;
    top: 101.66px;
    left: -0.01px;
    width: 274px;
    height: 172.3px;
}

.custom-blackberry-smoke-parent {
    position: absolute;
    top: 210px;
    left: calc(50% - 107px);
    width: 213px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 7.7px;
}

.custom-maroon-7-parent {
    position: absolute;
    top: 329px;
    left: calc(35% - 779px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    opacity: 0.12;
}

.custom-drive-by-truckers-parent {
    position: absolute;
    top: 210.1px;
    left: calc(50% - 101px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 7.7px;
}

.custom-camper-van-beethoven-parent {
    position: absolute;
    top: 210.1px;
    left: calc(50% - 129.5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 7.7px;
}

.custom-pylon-parent {
    position: absolute;
    top: 210.1px;
    left: calc(50% - 57.68px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 7.7px;
}

.custom-futurebirds-parent {
    position: absolute;
    top: 210.1px;
    left: calc(50% - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 7.7px;
}

.custom-maroon-9-parent {
    position: absolute;
    top: 29px;
    left: calc(50% - 922px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    opacity: 0.12;
}

.custom-div {
    position: relative;
    text-shadow: 0px 1.0499999523162842px 1.05px rgba(0, 0, 0, 0.2);
    color: var(--text-misc-foreground);
}

.custom-wrapper {
    align-self: stretch;
    flex: 1;
    border-radius: 6.3px;
    background: linear-gradient(201.64deg, #ffdd63, #ffedaa 47.4%, #d9a41f);
    border: 1px solid #161616;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6.3px;
}

.custom-frame-wrapper {
    align-self: stretch;
    width: 33.6px;
    filter: drop-shadow(0px 1.0499999523162842px 4.2px rgba(0, 0, 0, 0.16));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2.1px;
    box-sizing: border-box;
}

.custom-teen-angstwhat-the {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 150%;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-teen-angstwhat-the-world-need-parent {
    width: 133.8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3.1px;
}

.custom-frame-icon3 {
    width: 12.6px;
    position: relative;
    height: 12.6px;
    overflow: hidden;
    flex-shrink: 0;
    mix-blend-mode: linear-dodge;
}

.custom-div1 {
    position: relative;
    font-weight: 500;
    color: var(--text-misc-foreground);
}

.custom-frame-parent6 {
    width: 67.2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 4.2px;
    mix-blend-mode: linear-dodge;
}

.custom-div2 {
    width: 84px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
}

.custom-container {
    width: 111.3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    mix-blend-mode: linear-dodge;
}

.custom-frame-parent5 {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 67.2px;
    text-align: right;
    font-size: 12.6px;
    color: rgba(231, 231, 231, 0.7);
}

.custom-frame-parent4 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 844.9px;
    text-align: left;
    font-size: 14px;
    color: #fff;
    font-family: 'SF Pro Rounded';
}

.custom-song-bar-5-child {
    width: 37.8px;
    position: relative;
    border-radius: 6.3px;
    height: 37.8px;
    object-fit: cover;
}

.custom-preview-icon {
    width: 33.6px;
    margin: 0 !important;
    position: absolute;
    top: 6.3px;
    right: -36.35px;
    height: 37.8px;
    z-index: 2;
}

.custom-song-bar-5 {
    align-self: stretch;
    box-shadow: 0px 4.199999809265137px 12.6px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(25.2px);
    border-radius: 10.5px;
    background-color: #223038;
    border: 1px solid rgba(64, 77, 84, 0.3);
    box-sizing: border-box;
    height: 50.4px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6.3px 6.3px 6.3px 8.4px;
    position: relative;
    gap: 6.3px;
}

.custom-frame {
    align-self: stretch;
    flex: 1;
    border-radius: 6.3px;
    background: linear-gradient(201.64deg, #d1d1d1, #fff 47.4%, #a4a4a4);
    border: 1px solid #161616;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6.3px;
}

.custom-kerosene-hat {
    align-self: stretch;
    position: relative;
    font-size: 13px;
    letter-spacing: 0.01em;
    line-height: 140%;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-gegine-parent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 18.9px 0px 0px;
    gap: 8.4px;
    z-index: 0;
}

.custom-song-bars {
    align-self: stretch;
    box-shadow: 0px 4.199999809265137px 12.6px rgba(0, 0, 0, 0.08);
    border-radius: 10.5px;
    background-color: #223038;
    border: 1px solid rgba(64, 77, 84, 0.3);
    box-sizing: border-box;
    height: 50.4px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6.3px 6.3px 6.3px 8.4px;
    position: relative;
    gap: 6.3px;
}

.custom-wrapper2 {
    align-self: stretch;
    flex: 1;
    border-radius: 6.3px;
    background: linear-gradient(201.64deg, #6e5644, #c2a285 47.4%, #6d624c);
    border: 1px solid #161616;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6.3px;
}

.custom-song-bars1 {
    align-self: stretch;
    box-shadow: 0px 4.199999809265137px 12.6px rgba(0, 0, 0, 0.08);
    border-radius: 10.5px;
    background-color: #223038;
    border: 1px solid rgba(64, 77, 84, 0.3);
    box-sizing: border-box;
    height: 50.4px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6.3px 6.3px 6.3px 8.4px;
    position: relative;
    gap: 6.3px;
    color: #7c7c7c;
}

.custom-song-bar-5-parent {
    width: 263.5px;
    border-radius: 12px;
    background-color: #17242b;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px;
    box-sizing: border-box;
    gap: 4px;
}

.custom-shadow12 {
    width: 80.68%;
    position: absolute;
    margin: 0 !important;
    height: 82.16%;
    top: 11.96%;
    right: 13.79%;
    bottom: 5.87%;
    left: 5.53%;
    filter: blur(42px);
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    opacity: 0.6;
    z-index: 0;
}

.custom-frame-child-main {
    width: 310px;
    height: 310px;
}

.custom-cracker-parent2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 8.8px;
    width: 100%;
    background: linear-gradient(transparent, #0C1A22);
    height: 194px;
    bottom: 0;
    padding-bottom: 21.54px;
}

.custom-group-parent10 {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    background-image: url('Frame 20533.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
}

.custom-maroon-54 {
    width: 310px;
    filter: drop-shadow(0px -16.53333282470703px 40px rgba(0, 0, 0, 0.7)) drop-shadow(0px 382px 107px rgba(0, 0, 0, 0.01)) drop-shadow(0px 244px 98px rgba(0, 0, 0, 0.08)) drop-shadow(0px 138px 83px rgba(0, 0, 0, 0.27)) drop-shadow(0px 61px 61px rgba(0, 0, 0, 0.46)) drop-shadow(0px 15px 34px rgba(0, 0, 0, 0.53));
    border-radius: 24px;
    height: 310px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: -22px;
    position: relative;
    font-size: 26px;
    color: #fff;
    font-family: 'Tilt Warp';
}

.custom-frame-parent2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.custom-discover-the-real-container {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.03em;
    line-height: 110%;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    .custom-maroon-7-parent {
        display: none;
    }

    .custom-maroon-9-parent {
        display: none;
    }

    .hero-text-content {
        padding: 0 18px;
    }
}

@media (max-width: 500px) {
    .explore-button {
        display: flex;
        width: 100%;
    }

    .explore-button > a {
        flex: 1;
    }

    .hero-meta {
        max-width: 300px;
        flex-wrap: wrap;
        justify-content: center;
    }
}